In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/notebooks/course22p2/interview/rtv.csv", low_memory=False)
data.head(2)

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,hhid_2,...,Season 2 Agriculture Value (Ugx),Perennial Agriculture Value (Ugx),Agriculture Income (UGX),Livestock Income / Consumed (Ugx),Livestock Asset Value (UGX),HH Income (UGX),HH Income + Consumption + Residues (UGX),HH Income + Consumption+ Assets + Residues (UGX),Treatment Status,Cohort
0,"Aug 8, 2022 7:49:13 PM","Aug 8, 2022 1:17:13 PM","Aug 8, 2022 1:58:34 PM",2208051941,2455,3.0,3.0,5,97,MIT-KAS-MEB-M7121,...,200000.0,0.0,100000.0,0,0,150000,250000.0,250000.0,Treatment,2020
1,"Aug 2, 2022 10:26:09 PM","Aug 2, 2022 5:05:50 PM","Aug 2, 2022 5:37:13 PM",2208012232,1497,3.0,3.0,5,76,MIT-ITA-BRI-M9815,...,0.0,0.0,0.0,0,0,256000,256000.0,256000.0,Treatment,2020

In [5]:
new_data = data[['HH Income (UGX)','Season 2 Agriculture Value (Ugx)',
 'Casual Labour (Ugx)',
 'Season 1 Agriculture Value (Ugx)',
 'Perenial Crops Income (Ugx)',
 'Personal Business & Self Employment (Ugx)',
 'Agriculture Income (UGX) ',
 'Perennial Agriculture Value (Ugx)',
 'HH Income + Consumption + Residues (UGX)']]

In [7]:
new_data.head()

,HH Income (UGX),Season 2 Agriculture Value (Ugx),Casual Labour (Ugx),Season 1 Agriculture Value (Ugx),Perenial Crops Income (Ugx),Personal Business & Self Employment (Ugx),Agriculture Income (UGX),Perennial Agriculture Value (Ugx),HH Income + Consumption + Residues (UGX)
0,150000,200000.0,0,0.0,0.0,0,100000.0,0.0,250000.0
1,256000,0.0,256000,0.0,0.0,0,0.0,0.0,256000.0
2,160000,0.0,160000,47000.0,0.0,0,0.0,60000.0,267000.0
3,196000,0.0,0,272000.0,0.0,0,196000.0,0.0,272000.0
4,138500,0.0,0,204000.0,0.0,0,58500.0,0.0,284000.0

In [21]:
new_data['HH Income (UGX)'] = new_data['HH Income (UGX)'].replace(',', '', regex=True)

/tmp/ipykernel_868/1731942123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['HH Income (UGX)'] = new_data['HH Income (UGX)'].replace(',', '', regex=True)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [35]:
y = new_data['HH Income (UGX)']
X = new_data.drop(columns='HH Income (UGX)')

In [36]:
y = pd.to_numeric(y, errors='coerce')
y

0        150000.0
1        256000.0
2        160000.0
3        196000.0
4        138500.0
          ...
4592    4650000.0
4593    4040000.0
4594    8570000.0
4595    5726000.0
4596    9055000.0
Name: HH Income (UGX), Length: 4597, dtype: float64

In [37]:
# Separate string and numeric columns
X_str = X.select_dtypes(include="object") # string columns
X_num = X.select_dtypes(exclude="object") # numeric columns

# Encode string columns using label encoder
encoder = LabelEncoder()
for col in X_str.columns:
    X_str[col] = encoder.fit_transform(X_str[col])

# Concatenate string and numeric columns
X = pd.concat([X_str, X_num], axis=1)

In [40]:
X.mean()

Season 2 Agriculture Value (Ugx)             5.326855e+05
Casual Labour (Ugx)                          3.936645e+05
Season 1 Agriculture Value (Ugx)             6.036340e+05
Perenial Crops Income (Ugx)                  4.627721e+05
Personal Business & Self Employment (Ugx)    3.213561e+05
Agriculture Income (UGX)                     9.557288e+05
Perennial Agriculture Value (Ugx)            9.572886e+05
HH Income + Consumption + Residues (UGX)     3.214953e+06
dtype: float64

In [38]:
X.fillna(X.mean(), inplace=True)

In [39]:
X

,Season 2 Agriculture Value (Ugx),Casual Labour (Ugx),Season 1 Agriculture Value (Ugx),Perenial Crops Income (Ugx),Personal Business & Self Employment (Ugx),Agriculture Income (UGX),Perennial Agriculture Value (Ugx),HH Income + Consumption + Residues (UGX)
0,200000.0,0,0.0,0.0,0,100000.0,0.0,250000.0
1,0.0,256000,0.0,0.0,0,0.0,0.0,256000.0
2,0.0,160000,47000.0,0.0,0,0.0,60000.0,267000.0
3,0.0,0,272000.0,0.0,0,196000.0,0.0,272000.0
4,0.0,0,204000.0,0.0,0,58500.0,0.0,284000.0
...,...,...,...,...,...,...,...,...
4592,1705000.0,0,1815000.0,1250000.0,0,3480000.0,1770000.0,6660000.0
4593,1090000.0,0,1575000.0,2740000.0,0,3860000.0,4966000.0,7886000.0
4594,600000.0,5120000,555000.0,450000.0,2200000,1230000.0,450000.0,8945000.0
4595,2160000.0,0,4280000.0,1466000.0,0,5696000.0,2513000.0,8998000.0
4596,212000.0,0,2980000.0,0.0,0,2685000.0,0.0,9562000.0

In [41]:
y = y.fillna(y.mean())

In [42]:
y

0        150000.0
1        256000.0
2        160000.0
3        196000.0
4        138500.0
          ...
4592    4650000.0
4593    4040000.0
4594    8570000.0
4595    5726000.0
4596    9055000.0
Name: HH Income (UGX), Length: 4597, dtype: float64

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X, y)
importances = rf.feature_importances_

In [44]:
rf.predict(X)

array([ 152962.,  260661.,  186600., ..., 8111192., 5976415., 8377135.])

In [45]:
import pickle

In [46]:
# save model to file
with open("rf.pkl", "wb") as f:
    pickle.dump(rf, f)